# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# Java
*.class

# VS Code
.vscode/

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# IntelliJ IDEA
.idea/
*.iml

# Sistema operacional
.DS_Store
Thumbs.db

# Logs
*.log

# Fotos de perfil geradas pelo sistema
fotos_perfil/